<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content=
		"width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
	<title>
task directry
	</title>

	
</head>

<body>
	<h1>Data Directory</h1>


  <form action="/register" method="POST">


		<div class="form-control">
			<label for="name" id="label-name">
				First Name
			</label>

			<input type="text"
      name="firstname"
				placeholder="Enter your name" />
		</div>

    <div class="form-control">
    <label for="name" id="label-name">
      Last Name
    </label>

    <input type="text"
    name="lastname"
      placeholder="Enter your name" />
  </div>



		<div class="form-control">
			<label for="email" id="label-email">
				Email
			</label>


			<input type="email"
			name="email"
				placeholder="Enter your email" />
		</div>


    <div class="form-control">
			<label for="phone" id="label-phone">
				Phone
			</label>


			<input type="mobile"
				name="mobile"
				placeholder="Enter your Mobile" />
		</div>

	<button type="submit" value="submit">
			Submit
		</button>
	</form>
</body>

</html>

